*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

.clr{clear: both;}
section{color: #000;}

.main
{
	text-align:center;
	margin: 1rem auto;
    padding: 1rem;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
    position: relative;
	border: solid rgb(192, 191, 191);
    width: 18rem;
    height: 15rem;
}
body
{
    background: #fff;
    min-height: 200vh;
}

/*HEADER*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.2);
}
header.sticky{
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.9);
}
header .logo{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .logo img{
    width: 150px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style-type: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.6s;
}
header.sticky .logo, header.sticky ul li a{
    color: #fff;
    padding: 10px;
}

/*HAMBURGER-MENU*/

.toggle-button{
    position: absolute;
    top: 2.3rem;
    right: 3.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button:hover{
    cursor: pointer;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
}

@media(max-width: 700px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
        padding: 0.5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}

/*SLIDER*/

.slider{
    overflow: hidden;
    position: relative;
}
.slider figure img{
    width: 20%;
    height: 100vh;
    float: left;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
@keyframes slider{
    0%{
        left: 0;
    }
    15%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    40%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    65%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    90%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}
#text-on-banner{
    font-size: 4em;
    color: #fff;
    font-family: 'Sacramento', handwriting;
    text-shadow: 2px 5px 4px orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CONTAINER---MAP AND ABPUT US SECTION*/

.container{
    display: flex;
    width: 90%;
    margin: 100px auto;
    padding: 0 19px;
}
.container #map{
    width: 50%;
    margin: 25px 40px 25px auto;
}
.container #map iframe{
    width: 100%;
    height: 20rem;
}
.container div#right-about{
    width: 50%;
    float: right;
    margin: 25px auto;
    line-height: 2.5rem;
}
.container #right-about h1{
    font-size: 36px;
    color: #f25900;
}
.container #right-about h2{
    color: #003082;
}
.container #right-about .info{
    display: flex;
}
.container #right-about .info #left-address{
    float: left;
    width: 60%;
}
.container #right-about .info #left-address address{
    text-align: left;
}
.container #right-about .info #right-phone{
    width: 40%;
}
.container #right-about .info #right-phone a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: rgb(5, 185, 5);
}
.container #right-about .info #right-phone a img{
    width: 20px;
    margin-right: 5px;
}
.container #right-about .info #right-phone a:hover{
    color: rgb(7, 117, 7);
}
.container #right-about #about span#text{
    display: none;
}
.container #right-about #about .btn{
    width: 166.23px;
}
.container #right-about #about .btn button{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 6px;
    font-size: 16px;
    background: #003082;
    color: white;
    box-sizing: border-box;
}

@media (max-width: 1160px){
    .container{
        flex-direction: column;
    }
    .container #map, .container div#right-about{
        width: 100%;
    }
}
@media (max-width: 768px){
    .container #map{
        height: 15rem;
        order: 2;
    }
}
@media (max-width: 575px){
    .container #right-about .info{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .container #right-about .infp #left-address, .container #right-about .info #right-phone{
        width: 100%;
    }
}


/*CARDS SECTION*/

#card-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 80vh;
    
}
#card-quote .cards-layout{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid green; */
    padding: 30px;
}
.card{
    width: 28%;
    height: 100%;
    /* border: 2px solid red; */
    border-radius: 12px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.card .upper{
    /* border: 2px solid brown; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
    height: 50%;
    background-position: center;
    background-size: cover;
}
.card .lower{
    /* border: 2px solid black; */
    height: 50%;
    padding: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;  
}
.lower h1{
    text-align: center;
}
.card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}
/*

#card-quote .quote #display{
    margin: 1rem auto;
    padding: 1rem;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
    position: relative;
    border: solid rgb(192, 191, 191);
    width: 18rem;
    height: 18rem;
    
}
#card-quote .quote #display #output{
    text-align: center;
    font-size: 1.6rem;
    margin: 0.6rem 1rem 0.6rem 1rem;
}
#card-quote .quote button{
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    background: rgb(202, 240, 240);
    border: 1.5px solid rgb(121, 118, 118);
    position: absolute;
    bottom: 0.6rem;
    right: 0.5rem;
}
*/

/*ROTATIONAL SWIPE CARDS*/

.page-wrapper{
    border: solid black;
}
.post-slider{
    border: solid red;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 300px;
    margin: 0 auto; border: solid grey;
}
.post-slider .post-wrapper .post{
    width: 300px;
    height: 300px;
    display: inline-block;
    background: #05f7ff;
}

/*5 IMAGES IN A ROW*/

#services-row{
    width: 90%;
    margin: 50px auto;
    display: flex;
}
#services-row .column{
    padding: 0.3%;
}
#services-row .column img{
    width: 100%;
    vertical-align: middle;
}
#img1-service{flex: 0.9972;}
#img2-service{flex: 1;}
#img3-service{flex: 1.5;}
#img4-service{flex: 1;}
#img5-service{flex: 0.9972;}

#img1-deal{flex: 1;}
#img2-deal{flex: 1;}
#img3-deal{flex: 0.75;}
#img4-deal{flex: 1.4689;}
#img5-deal{flex: 1;}

#services-row .column img:hover{
    opacity: 0.9;
}

@media (max-width: 750px){
    
}

/*CANCO CASH APP SECTION*/

.app{
    background: linear-gradient(14deg, #fda085 25%, #f6d365 100%)!important;
    padding: 60px 0 5px 0;
    text-align: center;
}
.app div.app-info{
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: 30px auto 0;
}
.app div#hand h3{
    color: #f25900;
    font: 60px 'Sacramento', handwriting;
    padding: 0 0 10px;
}
.app .img-left img{
    width: 90%;
}
.app div.box-right{
    width: 80%;
}
.app .box-right h1{
    color: #003082;
    font-size: 34px;
    padding: 0 0 10px;
}
.app .box-right p{
    color: #000000;
    font-size: 16px;
    width: 80%;
    margin: 10px auto 25px;
}
.app .box-right a img{
    width: 135px;
    margin: 10px 0;
}
.app .box-right div#app-button{
    padding: 0 0 7px;
    margin-top: 25px;
}
.app .box-right div#app-button a{
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background: #003082;
    text-decoration: none;
}
@media (max-width: 975px){
    .app div.app-info{
        flex-direction: column;
    }
    .app div.box-right{
        margin: 20px auto 10px;
    }
}
@media (max-width: 768px){
    .app div.app-info{
        flex-direction: column;
    }
    .app div.app-info{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .app div.img-left{
        order: 2;
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }
    .app div.box-right{
        order: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .app div.box-right p{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


/*FOOTER*/

footer{
    padding: 19px 0 9px;
    background: #00163c;
}
#container{
    display: flex;
    padding: 24px 0 24px;
    justify-content: space-between;
}
footer div#col-left p a, footer div#col-right a{
    color: #cccccc;
    line-height: 40px;
    text-decoration: none;
}
footer div#col-mid{
    text-align: center;
    color: #ffffff;
    line-height: 25px;
    margin-top: 10px;
    flex: 2;
}
footer div#col-mid h2{padding: 0 0 10px;}

footer div#col-mid p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
footer div#col-left{
    margin-left: 112px;
    flex: 1;
}
footer div#col-right{
    margin-right: 112px;
    margin-top: 5px;
    text-align: center;
    flex: 1;
}
footer div#col-right a img{
    width: 125px;
}

@media(max-width: 768px){
    #container{
        flex-direction: column;
    }
    footer div#col-mid{
        display: none;
    }
    footer div#col-left, footer div#col-right{
        margin: 25px auto;
    }
    footer div#col-left{
        text-align: center;
    }
}